<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>0</th>
      <th>1</th>
      <th>2</th>
      <th>3</th>
      <th>4</th>
      <th>5</th>
      <th>6</th>
      <th>7</th>
      <th>8</th>
      <th>9</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>Date Due</td>
      <td>Date Assigned</td>
      <td>Assignment</td>
      <td>Category</td>
      <td>Score</td>
      <td>Total Points</td>
      <td>Weight</td>
      <td>Weighted Score</td>
      <td>Weighted Total Points</td>
      <td>Percentage</td>
    </tr>
    <tr>
      <th>1</th>
      <td>05/11/2023</td>
      <td>04/24/2023</td>
      <td>Employability Skills 4.3</td>
      <td>Minor Grades</td>
      <td>100.0</td>
      <td>100.00</td>
      <td>1.00</td>
      <td>100.00</td>
      <td>100.00</td>
      <td>100.000%</td>
    </tr>
    <tr>
      <th>2</th>
      <td>04/20/2023</td>
      <td>04/06/2023</td>
      <td>Employability Skills 4.2</td>
      <td>Minor Grades</td>
      <td>100.0</td>
      <td>100.00</td>
      <td>1.00</td>
      <td>100.00</td>
      <td>100.00</td>
      <td>100.000%</td>
    </tr>
    <tr>
      <th>3</th>
      <td>04/04/2023</td>
      <td>03/21/2023</td>
      <td>Employability Skills 4.1</td>
      <td>Minor Grades</td>
      <td>100.0</td>
      <td>100.00</td>
      <td>1.00</td>
      <td>100.00</td>
      <td>100.00</td>
      <td>100.000%</td>
    </tr>
    <tr>
      <th>4</th>
      <td>03/21/2023</td>
      <td>03/20/2023</td>
      <td>3.1.7 CP2 Iso-Sketch, Research, and DM1</td>
      <td>Minor Grades</td>
      <td>NaN</td>
      <td>100.00</td>
      <td>1.00</td>
      <td>NaN</td>
      <td>100.00</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>5</th>
      <td>03/21/2023</td>
      <td>03/21/2023</td>
      <td>3.1.7 CP1 - Design Brief, Gantt Chart, and Project Management Timeline</td>
      <td>Minor Grades</td>
      <td>100.0</td>
      <td>100.00</td>
      <td>1.00</td>
      <td>100.00</td>
      <td>100.00</td>
      <td>100.000%</td>
    </tr>
  </tbody>
</table>