<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>0</th>
      <th>1</th>
      <th>2</th>
      <th>3</th>
      <th>4</th>
      <th>5</th>
      <th>6</th>
      <th>7</th>
      <th>8</th>
      <th>9</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>Date Due</td>
      <td>Date Assigned</td>
      <td>Assignment</td>
      <td>Category</td>
      <td>Score</td>
      <td>Total Points</td>
      <td>Weight</td>
      <td>Weighted Score</td>
      <td>Weighted Total Points</td>
      <td>Percentage</td>
    </tr>
    <tr>
      <th>1</th>
      <td>10/04/2022</td>
      <td>09/30/2022</td>
      <td>Hwk: Acceleration and Newton's 2nd Law</td>
      <td>Non-graded</td>
      <td>L</td>
      <td>100.00</td>
      <td>1.00</td>
      <td>0.00</td>
      <td>100.00</td>
      <td>0.00%</td>
    </tr>
    <tr>
      <th>2</th>
      <td>09/30/2022</td>
      <td>09/27/2022</td>
      <td>Pivot: Spirngs in Parallel</td>
      <td>Major Grades</td>
      <td>100.0</td>
      <td>100.00</td>
      <td>1.00</td>
      <td>100.00</td>
      <td>100.00</td>
      <td>100.000%</td>
    </tr>
    <tr>
      <th>3</th>
      <td>09/30/2022</td>
      <td>09/26/2022</td>
      <td>Hwk: Inertia and Newton's 1st Law</td>
      <td>Non-graded</td>
      <td>L</td>
      <td>100.00</td>
      <td>1.00</td>
      <td>0.00</td>
      <td>100.00</td>
      <td>0.00%</td>
    </tr>
    <tr>
      <th>4</th>
      <td>09/28/2022</td>
      <td>09/28/2022</td>
      <td>Motion in 2-Dimensions (FR)</td>
      <td>Major Grades</td>
      <td>98.00</td>
      <td>100.00</td>
      <td>1.00</td>
      <td>98.00</td>
      <td>100.00</td>
      <td>98.000%</td>
    </tr>
    <tr>
      <th>5</th>
      <td>09/28/2022</td>
      <td>09/28/2022</td>
      <td>Motion in Two Dimensions (MC)</td>
      <td>Major Grades</td>
      <td>89.00</td>
      <td>100.00</td>
      <td>1.00</td>
      <td>89.00</td>
      <td>100.00</td>
      <td>89.000%</td>
    </tr>
    <tr>
      <th>6</th>
      <td>09/22/2022</td>
      <td>09/22/2022</td>
      <td>Quiz: Projectiles Launched at Angles</td>
      <td>Non-graded</td>
      <td>93.00</td>
      <td>100.00</td>
      <td>1.00</td>
      <td>93.00</td>
      <td>100.00</td>
      <td>93.000%</td>
    </tr>
    <tr>
      <th>7</th>
      <td>09/20/2022</td>
      <td>09/20/2022</td>
      <td>Lab: Horizonal Projectiles</td>
      <td>Major Grades</td>
      <td>100.0</td>
      <td>100.00</td>
      <td>1.00</td>
      <td>100.00</td>
      <td>100.00</td>
      <td>100.000%</td>
    </tr>
    <tr>
      <th>8</th>
      <td>09/20/2022</td>
      <td>09/16/2022</td>
      <td>Hwk: Projectiles Launched at Angles</td>
      <td>Non-graded</td>
      <td>CNS</td>
      <td>100.00</td>
      <td>1.00</td>
      <td>0.00</td>
      <td>100.00</td>
      <td>0.00%</td>
    </tr>
    <tr>
      <th>9</th>
      <td>09/16/2022</td>
      <td>09/16/2022</td>
      <td>Quiz: Horizontal Projectiles</td>
      <td>Non-graded</td>
      <td>92.00</td>
      <td>100.00</td>
      <td>1.00</td>
      <td>92.00</td>
      <td>100.00</td>
      <td>92.000%</td>
    </tr>
    <tr>
      <th>10</th>
      <td>09/16/2022</td>
      <td>09/14/2022</td>
      <td>Hwk: Horizontal Projectiles</td>
      <td>Non-graded</td>
      <td>CNS</td>
      <td>100.00</td>
      <td>1.00</td>
      <td>0.00</td>
      <td>100.00</td>
      <td>0.00%</td>
    </tr>
    <tr>
      <th>11</th>
      <td>09/14/2022</td>
      <td>09/12/2022</td>
      <td>Hwk: Relative Motions in 2-Dimensions</td>
      <td>Non-graded</td>
      <td>CNS</td>
      <td>100.00</td>
      <td>1.00</td>
      <td>0.00</td>
      <td>100.00</td>
      <td>0.00%</td>
    </tr>
    <tr>
      <th>12</th>
      <td>09/08/2022</td>
      <td>09/08/2022</td>
      <td>Motion in One Dimension (FR)</td>
      <td>Major Grades</td>
      <td>100.0</td>
      <td>100.00</td>
      <td>1.00</td>
      <td>100.00</td>
      <td>100.00</td>
      <td>100.000%</td>
    </tr>
    <tr>
      <th>13</th>
      <td>09/07/2022</td>
      <td>09/07/2022</td>
      <td>Motion in One Dimension (MC)</td>
      <td>Major Grades</td>
      <td>93.00</td>
      <td>100.00</td>
      <td>1.00</td>
      <td>93.00</td>
      <td>100.00</td>
      <td>93.000%</td>
    </tr>
    <tr>
      <th>14</th>
      <td>08/31/2022</td>
      <td>08/31/2022</td>
      <td>Quiz: Accelerated Motion in One Dimension</td>
      <td>Non-graded</td>
      <td>71.00</td>
      <td>100.00</td>
      <td>1.00</td>
      <td>71.00</td>
      <td>100.00</td>
      <td>71.000%</td>
    </tr>
    <tr>
      <th>15</th>
      <td>08/29/2022</td>
      <td>08/23/2022</td>
      <td>Lab: Acceleration</td>
      <td>Major Grades</td>
      <td>100.0</td>
      <td>100.00</td>
      <td>1.00</td>
      <td>100.00</td>
      <td>100.00</td>
      <td>100.000%</td>
    </tr>
    <tr>
      <th>16</th>
      <td>08/25/2022</td>
      <td>08/25/2022</td>
      <td>Quiz: Motion Graphs and Acceleration</td>
      <td>Non-graded</td>
      <td>44.00</td>
      <td>100.00</td>
      <td>1.00</td>
      <td>44.00</td>
      <td>100.00</td>
      <td>44.000%</td>
    </tr>
    <tr>
      <th>17</th>
      <td>08/25/2022</td>
      <td>08/23/2022</td>
      <td>Hwk: Motion Graphs</td>
      <td>Non-graded</td>
      <td>CNS</td>
      <td>100.00</td>
      <td>1.00</td>
      <td>0.00</td>
      <td>100.00</td>
      <td>0.00%</td>
    </tr>
    <tr>
      <th>18</th>
      <td>08/23/2022</td>
      <td>08/19/2022</td>
      <td>Uniform Acceleration in One Dimension</td>
      <td>Non-graded</td>
      <td>CNS</td>
      <td>100.00</td>
      <td>1.00</td>
      <td>0.00</td>
      <td>100.00</td>
      <td>0.00%</td>
    </tr>
    <tr>
      <th>19</th>
      <td>08/19/2022</td>
      <td>08/17/2022</td>
      <td>Hwk: Uniform and Relative Motion in One Dimension</td>
      <td>Non-graded</td>
      <td>CNS</td>
      <td>100.00</td>
      <td>1.00</td>
      <td>0.00</td>
      <td>100.00</td>
      <td>0.00%</td>
    </tr>
    <tr>
      <th>20</th>
      <td>08/19/2022</td>
      <td>08/11/2022</td>
      <td>Lab: Bungee Barbie</td>
      <td>Major Grades</td>
      <td>100.0</td>
      <td>100.00</td>
      <td>1.00</td>
      <td>100.00</td>
      <td>100.00</td>
      <td>100.000%</td>
    </tr>
    <tr>
      <th>21</th>
      <td>08/17/2022</td>
      <td>08/17/2022</td>
      <td>Quiz: Scientific Measurement and Graphing</td>
      <td>Non-graded</td>
      <td>100.0</td>
      <td>100.00</td>
      <td>1.00</td>
      <td>100.00</td>
      <td>100.00</td>
      <td>100.000%</td>
    </tr>
    <tr>
      <th>22</th>
      <td>08/15/2022</td>
      <td>08/11/2022</td>
      <td>Hwk: Dimensional Analysis and Uncertainty</td>
      <td>Non-graded</td>
      <td>CNS</td>
      <td>100.00</td>
      <td>1.00</td>
      <td>0.00</td>
      <td>100.00</td>
      <td>0.00%</td>
    </tr>
  </tbody>
</table>