<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>0</th>
      <th>1</th>
      <th>2</th>
      <th>3</th>
      <th>4</th>
      <th>5</th>
      <th>6</th>
      <th>7</th>
      <th>8</th>
      <th>9</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>Date Due</td>
      <td>Date Assigned</td>
      <td>Assignment</td>
      <td>Category</td>
      <td>Score</td>
      <td>Total Points</td>
      <td>Weight</td>
      <td>Weighted Score</td>
      <td>Weighted Total Points</td>
      <td>Percentage</td>
    </tr>
    <tr>
      <th>1</th>
      <td>10/04/2022</td>
      <td>NaN</td>
      <td>Downe: Explanation of Evidence</td>
      <td>Major Grades</td>
      <td>18.00</td>
      <td>20.00</td>
      <td>1.00</td>
      <td>18.00</td>
      <td>20.00</td>
      <td>90.000%</td>
    </tr>
    <tr>
      <th>2</th>
      <td>10/04/2022</td>
      <td>NaN</td>
      <td>Downe: Claims &amp; Evidence</td>
      <td>Major Grades</td>
      <td>18.00</td>
      <td>20.00</td>
      <td>1.00</td>
      <td>18.00</td>
      <td>20.00</td>
      <td>90.000%</td>
    </tr>
    <tr>
      <th>3</th>
      <td>10/04/2022</td>
      <td>NaN</td>
      <td>Downe: Thesis</td>
      <td>Major Grades</td>
      <td>10.00</td>
      <td>10.00</td>
      <td>1.00</td>
      <td>10.00</td>
      <td>10.00</td>
      <td>100.000%</td>
    </tr>
    <tr>
      <th>4</th>
      <td>09/28/2022</td>
      <td>NaN</td>
      <td>Tilbury Part III</td>
      <td>Non-graded</td>
      <td>CNS</td>
      <td>0.00</td>
      <td>1.00</td>
      <td>0.00</td>
      <td>0.00</td>
      <td>0.00%</td>
    </tr>
    <tr>
      <th>5</th>
      <td>09/26/2022</td>
      <td>NaN</td>
      <td>Tilbury Part II</td>
      <td>Non-graded</td>
      <td>CNS</td>
      <td>0.00</td>
      <td>1.00</td>
      <td>0.00</td>
      <td>0.00</td>
      <td>0.00%</td>
    </tr>
    <tr>
      <th>6</th>
      <td>09/22/2022</td>
      <td>NaN</td>
      <td>Tilbury Part I</td>
      <td>Non-graded</td>
      <td>CNS</td>
      <td>0.00</td>
      <td>1.00</td>
      <td>0.00</td>
      <td>0.00</td>
      <td>0.00%</td>
    </tr>
    <tr>
      <th>7</th>
      <td>09/16/2022</td>
      <td>NaN</td>
      <td>Perfection: Explanation of Evidence</td>
      <td>Major Grades</td>
      <td>17.00</td>
      <td>20.00</td>
      <td>1.00</td>
      <td>17.00</td>
      <td>20.00</td>
      <td>85.000%</td>
    </tr>
    <tr>
      <th>8</th>
      <td>09/16/2022</td>
      <td>NaN</td>
      <td>Perfection: Claims &amp; Evidence</td>
      <td>Major Grades</td>
      <td>18.00</td>
      <td>20.00</td>
      <td>1.00</td>
      <td>18.00</td>
      <td>20.00</td>
      <td>90.000%</td>
    </tr>
    <tr>
      <th>9</th>
      <td>09/16/2022</td>
      <td>NaN</td>
      <td>Perfection: Thesis</td>
      <td>Major Grades</td>
      <td>9.00</td>
      <td>10.00</td>
      <td>1.00</td>
      <td>9.00</td>
      <td>10.00</td>
      <td>90.000%</td>
    </tr>
    <tr>
      <th>10</th>
      <td>08/29/2022</td>
      <td>08/26/2022</td>
      <td>Thesis Assessment: Perfection Prompt</td>
      <td>Major Grades</td>
      <td>9.00</td>
      <td>10.00</td>
      <td>1.00</td>
      <td>9.00</td>
      <td>10.00</td>
      <td>90.000%</td>
    </tr>
    <tr>
      <th>11</th>
      <td>08/17/2022</td>
      <td>NaN</td>
      <td>MC Pretest #1</td>
      <td>Non-graded</td>
      <td>33.00</td>
      <td>45.00</td>
      <td>1.00</td>
      <td>33.00</td>
      <td>45.00</td>
      <td>73.333%</td>
    </tr>
    <tr>
      <th>12</th>
      <td>08/15/2022</td>
      <td>08/12/2022</td>
      <td>TN: Rhetorical Situation Chart</td>
      <td>Non-graded</td>
      <td>CNS</td>
      <td>0.00</td>
      <td>1.00</td>
      <td>0.00</td>
      <td>0.00</td>
      <td>0.00%</td>
    </tr>
  </tbody>
</table>