<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>0</th>
      <th>1</th>
      <th>2</th>
      <th>3</th>
      <th>4</th>
      <th>5</th>
      <th>6</th>
      <th>7</th>
      <th>8</th>
      <th>9</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>Date Due</td>
      <td>Date Assigned</td>
      <td>Assignment</td>
      <td>Category</td>
      <td>Score</td>
      <td>Total Points</td>
      <td>Weight</td>
      <td>Weighted Score</td>
      <td>Weighted Total Points</td>
      <td>Percentage</td>
    </tr>
    <tr>
      <th>1</th>
      <td>03/23/2023</td>
      <td>NaN</td>
      <td>Conclusions Practice</td>
      <td>Non-graded</td>
      <td>NaN</td>
      <td>0.00</td>
      <td>1.00</td>
      <td>NaN</td>
      <td>0.00</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>2</th>
      <td>03/21/2023</td>
      <td>NaN</td>
      <td>Progress Check #6</td>
      <td>Non-graded</td>
      <td>CNS</td>
      <td>0.00</td>
      <td>1.00</td>
      <td>0.00</td>
      <td>0.00</td>
      <td>0.00%</td>
    </tr>
  </tbody>
</table>