<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>0</th>
      <th>1</th>
      <th>2</th>
      <th>3</th>
      <th>4</th>
      <th>5</th>
      <th>6</th>
      <th>7</th>
      <th>8</th>
      <th>9</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>Date Due</td>
      <td>Date Assigned</td>
      <td>Assignment</td>
      <td>Category</td>
      <td>Score</td>
      <td>Total Points</td>
      <td>Weight</td>
      <td>Weighted Score</td>
      <td>Weighted Total Points</td>
      <td>Percentage</td>
    </tr>
    <tr>
      <th>1</th>
      <td>10/13/2022</td>
      <td>NaN</td>
      <td>GROUP Quiz on deriv of logs/exp/implicit</td>
      <td>Non-graded</td>
      <td>28.00</td>
      <td>30.00</td>
      <td>1.00</td>
      <td>28.00</td>
      <td>30.00</td>
      <td>93.333%</td>
    </tr>
    <tr>
      <th>2</th>
      <td>09/29/2022</td>
      <td>NaN</td>
      <td>Practice Completion Ch 3 part 1</td>
      <td>Non-graded</td>
      <td>0.00</td>
      <td>6.00</td>
      <td>1.00</td>
      <td>0.00</td>
      <td>6.00</td>
      <td>0.000%</td>
    </tr>
    <tr>
      <th>3</th>
      <td>09/29/2022</td>
      <td>NaN</td>
      <td>TEST-PVA</td>
      <td>Major Grades</td>
      <td>96.00</td>
      <td>100.00</td>
      <td>1.00</td>
      <td>96.00</td>
      <td>100.00</td>
      <td>96.000%</td>
    </tr>
    <tr>
      <th>4</th>
      <td>09/29/2022</td>
      <td>NaN</td>
      <td>TEST-Derivative Rules</td>
      <td>Major Grades</td>
      <td>93.00</td>
      <td>100.00</td>
      <td>1.00</td>
      <td>93.00</td>
      <td>100.00</td>
      <td>93.000%</td>
    </tr>
    <tr>
      <th>5</th>
      <td>09/23/2022</td>
      <td>NaN</td>
      <td>Partner Quiz-Chain Rule</td>
      <td>Non-graded</td>
      <td>23.00</td>
      <td>25.00</td>
      <td>1.00</td>
      <td>23.00</td>
      <td>25.00</td>
      <td>92.000%</td>
    </tr>
    <tr>
      <th>6</th>
      <td>09/19/2022</td>
      <td>NaN</td>
      <td>Quiz-product, quotient, trig, pva</td>
      <td>Major Grades</td>
      <td>97.10</td>
      <td>100.00</td>
      <td>1.00</td>
      <td>97.10</td>
      <td>100.00</td>
      <td>97.100%</td>
    </tr>
    <tr>
      <th>7</th>
      <td>09/07/2022</td>
      <td>NaN</td>
      <td>PARTNER Quiz 3.1-3.2</td>
      <td>Non-graded</td>
      <td>40.00</td>
      <td>46.00</td>
      <td>1.00</td>
      <td>40.00</td>
      <td>46.00</td>
      <td>86.957%</td>
    </tr>
    <tr>
      <th>8</th>
      <td>08/29/2022</td>
      <td>NaN</td>
      <td>Test-Continuity and IVT</td>
      <td>Major Grades</td>
      <td>85.10</td>
      <td>100.00</td>
      <td>1.00</td>
      <td>85.10</td>
      <td>100.00</td>
      <td>85.100%</td>
    </tr>
    <tr>
      <th>9</th>
      <td>08/29/2022</td>
      <td>NaN</td>
      <td>Test-Limits</td>
      <td>Major Grades</td>
      <td>100.0</td>
      <td>100.00</td>
      <td>1.00</td>
      <td>100.00</td>
      <td>100.00</td>
      <td>100.000%</td>
    </tr>
    <tr>
      <th>10</th>
      <td>08/26/2022</td>
      <td>NaN</td>
      <td>Packet completion of Practices</td>
      <td>Non-graded</td>
      <td>NaN</td>
      <td>3.00</td>
      <td>1.00</td>
      <td>NaN</td>
      <td>3.00</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>11</th>
      <td>08/25/2022</td>
      <td>NaN</td>
      <td>Limits Algebraically</td>
      <td>Non-graded</td>
      <td>11.00</td>
      <td>12.00</td>
      <td>1.00</td>
      <td>11.00</td>
      <td>12.00</td>
      <td>91.667%</td>
    </tr>
    <tr>
      <th>12</th>
      <td>08/19/2022</td>
      <td>NaN</td>
      <td>Quiz PARTNER Limit graphically/continuity/IVT</td>
      <td>Non-graded</td>
      <td>42.00</td>
      <td>48.00</td>
      <td>1.00</td>
      <td>42.00</td>
      <td>48.00</td>
      <td>87.500%</td>
    </tr>
    <tr>
      <th>13</th>
      <td>08/16/2022</td>
      <td>NaN</td>
      <td>Skill Check-Limits Graphically</td>
      <td>Non-graded</td>
      <td>19.00</td>
      <td>21.00</td>
      <td>1.00</td>
      <td>19.00</td>
      <td>21.00</td>
      <td>90.476%</td>
    </tr>
  </tbody>
</table>