<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>0</th>
      <th>1</th>
      <th>2</th>
      <th>3</th>
      <th>4</th>
      <th>5</th>
      <th>6</th>
      <th>7</th>
      <th>8</th>
      <th>9</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>Date Due</td>
      <td>Date Assigned</td>
      <td>Assignment</td>
      <td>Category</td>
      <td>Score</td>
      <td>Total Points</td>
      <td>Weight</td>
      <td>Weighted Score</td>
      <td>Weighted Total Points</td>
      <td>Percentage</td>
    </tr>
    <tr>
      <th>1</th>
      <td>04/05/2023</td>
      <td>NaN</td>
      <td>Summative-Volumes of Rotations</td>
      <td>Major Grades</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>1.00</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>2</th>
      <td>04/05/2023</td>
      <td>NaN</td>
      <td>Summative Area and Known Cross Sections</td>
      <td>Major Grades</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>1.00</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>3</th>
      <td>04/03/2023</td>
      <td>NaN</td>
      <td>Quiz-Volumes of Rotation</td>
      <td>Major Grades</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>1.00</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>4</th>
      <td>03/24/2023</td>
      <td>NaN</td>
      <td>Quiz Area and Volume w/Cross Sections</td>
      <td>Major Grades</td>
      <td>96.00</td>
      <td>100.00</td>
      <td>1.00</td>
      <td>96.00</td>
      <td>100.00</td>
      <td>96.000%</td>
    </tr>
    <tr>
      <th>5</th>
      <td>03/24/2023</td>
      <td>NaN</td>
      <td>Quiz-Ch 5 Calculator</td>
      <td>Major Grades</td>
      <td>80.00</td>
      <td>100.00</td>
      <td>1.00</td>
      <td>80.00</td>
      <td>100.00</td>
      <td>80.000%</td>
    </tr>
  </tbody>
</table>