<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>0</th>
      <th>1</th>
      <th>2</th>
      <th>3</th>
      <th>4</th>
      <th>5</th>
      <th>6</th>
      <th>7</th>
      <th>8</th>
      <th>9</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>Date Due</td>
      <td>Date Assigned</td>
      <td>Assignment</td>
      <td>Category</td>
      <td>Score</td>
      <td>Total Points</td>
      <td>Weight</td>
      <td>Weighted Score</td>
      <td>Weighted Total Points</td>
      <td>Percentage</td>
    </tr>
    <tr>
      <th>1</th>
      <td>10/03/2022</td>
      <td>10/03/2022</td>
      <td>Period 2 (1607 - 1754) / Period 3 (1754 - 1800) LEQ</td>
      <td>Non-graded</td>
      <td>85.00</td>
      <td>100.00</td>
      <td>1.00</td>
      <td>85.00</td>
      <td>100.00</td>
      <td>85.000%</td>
    </tr>
    <tr>
      <th>2</th>
      <td>09/29/2022</td>
      <td>09/29/2022</td>
      <td>Period 3 (1754 - 1800) Test</td>
      <td>Major Grades</td>
      <td>87.00</td>
      <td>100.00</td>
      <td>1.00</td>
      <td>87.00</td>
      <td>100.00</td>
      <td>87.000%</td>
    </tr>
    <tr>
      <th>3</th>
      <td>09/29/2022</td>
      <td>08/30/2022</td>
      <td>Period 3 (1754 - 1800) Review</td>
      <td>Non-graded</td>
      <td>96.00</td>
      <td>100.00</td>
      <td>1.00</td>
      <td>96.00</td>
      <td>100.00</td>
      <td>96.000%</td>
    </tr>
    <tr>
      <th>4</th>
      <td>09/29/2022</td>
      <td>08/26/2022</td>
      <td>Period 3 (1754 - 1800) Portfolio</td>
      <td>Major Grades</td>
      <td>98.00</td>
      <td>100.00</td>
      <td>1.00</td>
      <td>98.00</td>
      <td>100.00</td>
      <td>98.000%</td>
    </tr>
    <tr>
      <th>5</th>
      <td>09/29/2022</td>
      <td>09/27/2022</td>
      <td>AP Classroom Personal Progress Check 3 (1754 - 1800)</td>
      <td>Non-graded</td>
      <td>97.00</td>
      <td>100.00</td>
      <td>1.00</td>
      <td>97.00</td>
      <td>100.00</td>
      <td>97.000%</td>
    </tr>
    <tr>
      <th>6</th>
      <td>09/27/2022</td>
      <td>09/27/2022</td>
      <td>Causes and Effects of the Alien &amp; Sedition Acts</td>
      <td>Non-graded</td>
      <td>90.00</td>
      <td>100.00</td>
      <td>1.00</td>
      <td>90.00</td>
      <td>100.00</td>
      <td>90.000%</td>
    </tr>
    <tr>
      <th>7</th>
      <td>09/27/2022</td>
      <td>09/27/2022</td>
      <td>Washington / Adams SAQ</td>
      <td>Non-graded</td>
      <td>100.0</td>
      <td>100.00</td>
      <td>1.00</td>
      <td>100.00</td>
      <td>100.00</td>
      <td>100.000%</td>
    </tr>
    <tr>
      <th>8</th>
      <td>09/23/2022</td>
      <td>09/23/2022</td>
      <td>Constitution HIPP Analysis / Hamilton SAQ</td>
      <td>Non-graded</td>
      <td>90.00</td>
      <td>100.00</td>
      <td>1.00</td>
      <td>90.00</td>
      <td>100.00</td>
      <td>90.000%</td>
    </tr>
    <tr>
      <th>9</th>
      <td>09/21/2022</td>
      <td>09/21/2022</td>
      <td>Constitutional Convention Simulation</td>
      <td>Major Grades</td>
      <td>110.0</td>
      <td>100.00</td>
      <td>1.00</td>
      <td>110.00</td>
      <td>100.00</td>
      <td>110.000%</td>
    </tr>
    <tr>
      <th>10</th>
      <td>09/15/2022</td>
      <td>09/15/2022</td>
      <td>How radical was the American Revolution?</td>
      <td>Non-graded</td>
      <td>100.0</td>
      <td>100.00</td>
      <td>1.00</td>
      <td>100.00</td>
      <td>100.00</td>
      <td>100.000%</td>
    </tr>
    <tr>
      <th>11</th>
      <td>09/13/2022</td>
      <td>09/13/2022</td>
      <td>Reasons for Patriot Victory in American Revolution</td>
      <td>Non-graded</td>
      <td>100.0</td>
      <td>100.00</td>
      <td>1.00</td>
      <td>100.00</td>
      <td>100.00</td>
      <td>100.000%</td>
    </tr>
    <tr>
      <th>12</th>
      <td>09/09/2022</td>
      <td>09/07/2022</td>
      <td>Patriot and Loyalist Arguments</td>
      <td>Non-graded</td>
      <td>100.0</td>
      <td>100.00</td>
      <td>1.00</td>
      <td>100.00</td>
      <td>100.00</td>
      <td>100.000%</td>
    </tr>
    <tr>
      <th>13</th>
      <td>09/07/2022</td>
      <td>09/07/2022</td>
      <td>American Revolution Causation Thesis</td>
      <td>Non-graded</td>
      <td>100.0</td>
      <td>100.00</td>
      <td>1.00</td>
      <td>100.00</td>
      <td>100.00</td>
      <td>100.000%</td>
    </tr>
    <tr>
      <th>14</th>
      <td>09/07/2022</td>
      <td>09/07/2022</td>
      <td>Colonial Discontent in the 1760s HIPP Analysis</td>
      <td>Non-graded</td>
      <td>100.0</td>
      <td>100.00</td>
      <td>1.00</td>
      <td>100.00</td>
      <td>100.00</td>
      <td>100.000%</td>
    </tr>
    <tr>
      <th>15</th>
      <td>08/30/2022</td>
      <td>08/30/2022</td>
      <td>Period 2 (1607 - 1754) Test</td>
      <td>Major Grades</td>
      <td>88.00</td>
      <td>100.00</td>
      <td>1.00</td>
      <td>88.00</td>
      <td>100.00</td>
      <td>88.000%</td>
    </tr>
    <tr>
      <th>16</th>
      <td>08/30/2022</td>
      <td>08/16/2022</td>
      <td>Period 2 (1607 - 1754) Review</td>
      <td>Major Grades</td>
      <td>99.00</td>
      <td>100.00</td>
      <td>1.00</td>
      <td>99.00</td>
      <td>100.00</td>
      <td>99.000%</td>
    </tr>
    <tr>
      <th>17</th>
      <td>08/30/2022</td>
      <td>08/16/2022</td>
      <td>Period 2 (1607 - 1754) Portfolio</td>
      <td>Major Grades</td>
      <td>100.0</td>
      <td>100.00</td>
      <td>1.00</td>
      <td>100.00</td>
      <td>100.00</td>
      <td>100.000%</td>
    </tr>
    <tr>
      <th>18</th>
      <td>08/26/2022</td>
      <td>08/26/2022</td>
      <td>French &amp; Indian War HIPP Analysis</td>
      <td>Non-graded</td>
      <td>70.00</td>
      <td>100.00</td>
      <td>1.00</td>
      <td>70.00</td>
      <td>100.00</td>
      <td>70.000%</td>
    </tr>
  </tbody>
</table>