<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>0</th>
      <th>1</th>
      <th>2</th>
      <th>3</th>
      <th>4</th>
      <th>5</th>
      <th>6</th>
      <th>7</th>
      <th>8</th>
      <th>9</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>Date Due</td>
      <td>Date Assigned</td>
      <td>Assignment</td>
      <td>Category</td>
      <td>Score</td>
      <td>Total Points</td>
      <td>Weight</td>
      <td>Weighted Score</td>
      <td>Weighted Total Points</td>
      <td>Percentage</td>
    </tr>
    <tr>
      <th>1</th>
      <td>12/15/2022</td>
      <td>12/15/2022</td>
      <td>Periods 1 - 5 (1491 - 1877) Practice Test</td>
      <td>Non-graded</td>
      <td>82.00</td>
      <td>100.00</td>
      <td>1.00</td>
      <td>82.00</td>
      <td>100.00</td>
      <td>82.000%</td>
    </tr>
    <tr>
      <th>2</th>
      <td>12/13/2022</td>
      <td>11/16/2022</td>
      <td>Period 5 (1844 - 1877) Portfolio</td>
      <td>Major Grades</td>
      <td>103.0</td>
      <td>100.00</td>
      <td>1.00</td>
      <td>103.00</td>
      <td>100.00</td>
      <td>103.000%</td>
    </tr>
    <tr>
      <th>3</th>
      <td>12/13/2022</td>
      <td>12/13/2022</td>
      <td>Period 5 (1844 - 1877) Test</td>
      <td>Major Grades</td>
      <td>96.00</td>
      <td>100.00</td>
      <td>1.00</td>
      <td>96.00</td>
      <td>100.00</td>
      <td>96.000%</td>
    </tr>
    <tr>
      <th>4</th>
      <td>12/13/2022</td>
      <td>11/14/2022</td>
      <td>Period 5 (1844 - 1877) Review</td>
      <td>Non-graded</td>
      <td>L</td>
      <td>100.00</td>
      <td>1.00</td>
      <td>0.00</td>
      <td>100.00</td>
      <td>0.00%</td>
    </tr>
    <tr>
      <th>5</th>
      <td>12/13/2022</td>
      <td>12/09/2022</td>
      <td>AP Classroom Personal Progress Check 5</td>
      <td>Non-graded</td>
      <td>100.0</td>
      <td>100.00</td>
      <td>1.00</td>
      <td>100.00</td>
      <td>100.00</td>
      <td>100.000%</td>
    </tr>
    <tr>
      <th>6</th>
      <td>12/09/2022</td>
      <td>12/09/2022</td>
      <td>"Reconstruction: America after the Civil War" Video Questions</td>
      <td>Non-graded</td>
      <td>100.0</td>
      <td>100.00</td>
      <td>1.00</td>
      <td>100.00</td>
      <td>100.00</td>
      <td>100.000%</td>
    </tr>
    <tr>
      <th>7</th>
      <td>12/07/2022</td>
      <td>12/07/2022</td>
      <td>Civil War / Reconstruction SAQ</td>
      <td>Non-graded</td>
      <td>95.00</td>
      <td>100.00</td>
      <td>1.00</td>
      <td>95.00</td>
      <td>100.00</td>
      <td>95.000%</td>
    </tr>
    <tr>
      <th>8</th>
      <td>12/05/2022</td>
      <td>11/16/2022</td>
      <td>"December Madness": The Tournament of Civil War Significance</td>
      <td>Major Grades</td>
      <td>85.00</td>
      <td>100.00</td>
      <td>1.00</td>
      <td>85.00</td>
      <td>100.00</td>
      <td>85.000%</td>
    </tr>
    <tr>
      <th>9</th>
      <td>12/01/2022</td>
      <td>12/01/2022</td>
      <td>Election of 1860 HIPP Analysis or SAQ</td>
      <td>Non-graded</td>
      <td>87.00</td>
      <td>100.00</td>
      <td>1.00</td>
      <td>87.00</td>
      <td>100.00</td>
      <td>87.000%</td>
    </tr>
    <tr>
      <th>10</th>
      <td>12/01/2022</td>
      <td>12/01/2022</td>
      <td>Alexander Stephens' "Cornerstone Speech" and the 1861 Texas Statement on Secession</td>
      <td>Non-graded</td>
      <td>100.0</td>
      <td>100.00</td>
      <td>1.00</td>
      <td>100.00</td>
      <td>100.00</td>
      <td>100.000%</td>
    </tr>
    <tr>
      <th>11</th>
      <td>11/29/2022</td>
      <td>11/04/2022</td>
      <td>(OPTIONAL) Online Oregon Trail Assignment</td>
      <td>Non-graded</td>
      <td>10.00</td>
      <td>10.00</td>
      <td>1.00</td>
      <td>10.00</td>
      <td>10.00</td>
      <td>100.000%</td>
    </tr>
    <tr>
      <th>12</th>
      <td>11/29/2022</td>
      <td>11/29/2022</td>
      <td>Kansas-Nebraska Act SAQ</td>
      <td>Non-graded</td>
      <td>100.0</td>
      <td>100.00</td>
      <td>1.00</td>
      <td>100.00</td>
      <td>100.00</td>
      <td>100.000%</td>
    </tr>
    <tr>
      <th>13</th>
      <td>11/16/2022</td>
      <td>11/14/2022</td>
      <td>In-Class Debate: Should the U.S. go to war with Mexico?</td>
      <td>Non-graded</td>
      <td>100.0</td>
      <td>100.00</td>
      <td>1.00</td>
      <td>100.00</td>
      <td>100.00</td>
      <td>100.000%</td>
    </tr>
    <tr>
      <th>14</th>
      <td>11/10/2022</td>
      <td>11/10/2022</td>
      <td>Period 4 (1800 - 1848) DBQ</td>
      <td>Major Grades</td>
      <td>90.00</td>
      <td>100.00</td>
      <td>1.00</td>
      <td>90.00</td>
      <td>100.00</td>
      <td>90.000%</td>
    </tr>
    <tr>
      <th>15</th>
      <td>11/08/2022</td>
      <td>11/02/2022</td>
      <td>Period 4 Part II (1836 - 1848) Review</td>
      <td>Non-graded</td>
      <td>100.0</td>
      <td>100.00</td>
      <td>1.00</td>
      <td>100.00</td>
      <td>100.00</td>
      <td>100.000%</td>
    </tr>
    <tr>
      <th>16</th>
      <td>11/08/2022</td>
      <td>11/04/2022</td>
      <td>AP Classroom Personal Progress Check 4</td>
      <td>Non-graded</td>
      <td>100.0</td>
      <td>100.00</td>
      <td>1.00</td>
      <td>100.00</td>
      <td>100.00</td>
      <td>100.000%</td>
    </tr>
    <tr>
      <th>17</th>
      <td>11/08/2022</td>
      <td>10/31/2022</td>
      <td>Period 4 Part II (1836 - 1848) Portfolio</td>
      <td>Major Grades</td>
      <td>100.0</td>
      <td>100.00</td>
      <td>1.00</td>
      <td>100.00</td>
      <td>100.00</td>
      <td>100.000%</td>
    </tr>
    <tr>
      <th>18</th>
      <td>11/04/2022</td>
      <td>10/21/2022</td>
      <td>Antebellum-Era Reformers Speed-Dating</td>
      <td>Major Grades</td>
      <td>100.0</td>
      <td>100.00</td>
      <td>1.00</td>
      <td>100.00</td>
      <td>100.00</td>
      <td>100.000%</td>
    </tr>
    <tr>
      <th>19</th>
      <td>11/04/2022</td>
      <td>10/27/2022</td>
      <td>The Antebellum South Analysis Assignment</td>
      <td>Non-graded</td>
      <td>100.0</td>
      <td>100.00</td>
      <td>1.00</td>
      <td>100.00</td>
      <td>100.00</td>
      <td>100.000%</td>
    </tr>
    <tr>
      <th>20</th>
      <td>11/02/2022</td>
      <td>11/02/2022</td>
      <td>Comparing the First and Seond Great Awakenings</td>
      <td>Non-graded</td>
      <td>X</td>
      <td>100.00</td>
      <td>1.00</td>
      <td>0.00</td>
      <td>100.00</td>
      <td>0.00%</td>
    </tr>
    <tr>
      <th>21</th>
      <td>10/31/2022</td>
      <td>10/25/2022</td>
      <td>Marshall Court Case Analysis Chart</td>
      <td>Non-graded</td>
      <td>100.0</td>
      <td>100.00</td>
      <td>1.00</td>
      <td>100.00</td>
      <td>100.00</td>
      <td>100.000%</td>
    </tr>
    <tr>
      <th>22</th>
      <td>10/27/2022</td>
      <td>10/17/2022</td>
      <td>Period 4 Part I (1800 - 1836) Portolio</td>
      <td>Major Grades</td>
      <td>98.00</td>
      <td>100.00</td>
      <td>1.00</td>
      <td>98.00</td>
      <td>100.00</td>
      <td>98.000%</td>
    </tr>
    <tr>
      <th>23</th>
      <td>10/27/2022</td>
      <td>10/17/2022</td>
      <td>Period 4 Part I (1800 - 1836) Review</td>
      <td>Non-graded</td>
      <td>100.0</td>
      <td>100.00</td>
      <td>1.00</td>
      <td>100.00</td>
      <td>100.00</td>
      <td>100.000%</td>
    </tr>
    <tr>
      <th>24</th>
      <td>10/27/2022</td>
      <td>10/27/2022</td>
      <td>Period 4 Part I (1800 - 1836) Test</td>
      <td>Major Grades</td>
      <td>87.00</td>
      <td>100.00</td>
      <td>1.00</td>
      <td>87.00</td>
      <td>100.00</td>
      <td>87.000%</td>
    </tr>
    <tr>
      <th>25</th>
      <td>10/25/2022</td>
      <td>10/25/2022</td>
      <td>Age of Jackson Document Analysis</td>
      <td>Non-graded</td>
      <td>90.00</td>
      <td>100.00</td>
      <td>1.00</td>
      <td>90.00</td>
      <td>100.00</td>
      <td>90.000%</td>
    </tr>
    <tr>
      <th>26</th>
      <td>10/21/2022</td>
      <td>10/17/2022</td>
      <td>Marshall Court Case Comic Strip</td>
      <td>Non-graded</td>
      <td>105.0</td>
      <td>100.00</td>
      <td>1.00</td>
      <td>105.00</td>
      <td>100.00</td>
      <td>105.000%</td>
    </tr>
    <tr>
      <th>27</th>
      <td>10/19/2022</td>
      <td>10/19/2022</td>
      <td>"Era of Good Feelings" SAQ</td>
      <td>Non-graded</td>
      <td>100.0</td>
      <td>100.00</td>
      <td>1.00</td>
      <td>100.00</td>
      <td>100.00</td>
      <td>100.000%</td>
    </tr>
    <tr>
      <th>28</th>
      <td>10/17/2022</td>
      <td>10/17/2022</td>
      <td>In-Class Debate: "Should mid-19th Century Immigration from Europe be stopped?"</td>
      <td>Non-graded</td>
      <td>100.0</td>
      <td>100.00</td>
      <td>1.00</td>
      <td>100.00</td>
      <td>100.00</td>
      <td>100.000%</td>
    </tr>
    <tr>
      <th>29</th>
      <td>10/17/2022</td>
      <td>10/17/2022</td>
      <td>Choose Your Own Market Revolution Adventures!</td>
      <td>Non-graded</td>
      <td>100.0</td>
      <td>100.00</td>
      <td>1.00</td>
      <td>100.00</td>
      <td>100.00</td>
      <td>100.000%</td>
    </tr>
    <tr>
      <th>30</th>
      <td>10/17/2022</td>
      <td>10/17/2022</td>
      <td>The War of 1812 Web Quest</td>
      <td>Non-graded</td>
      <td>98.00</td>
      <td>100.00</td>
      <td>1.00</td>
      <td>98.00</td>
      <td>100.00</td>
      <td>98.000%</td>
    </tr>
    <tr>
      <th>31</th>
      <td>10/17/2022</td>
      <td>10/17/2022</td>
      <td>How Jeffersonian was Jefferson?</td>
      <td>Non-graded</td>
      <td>100.0</td>
      <td>100.00</td>
      <td>1.00</td>
      <td>100.00</td>
      <td>100.00</td>
      <td>100.000%</td>
    </tr>
  </tbody>
</table>