{% extends 'base.html' %}

{% block head %}

<title>HAC Notifier</title>


{% endblock %}

{% block body %}

<div class="container">
  <div class="nav-wrapper">
      <div class="left-side">
          <div class="brand">
              <div>HAC Notifier</div>
          </div>
      </div>
      <div class="right-side">
          <div class="nav-link-wrapper">
              <a href="/grades">Reload Grades</a>
          </div>
          <div class="nav-link-wrapper">
              <a href="/">Sign Out</a>
          </div>
      </div>
  </div>
    </div>
<h2 style="font-size: 1.5em;">Current Grades: (Last Updated at {{ time }} CST) </h2>
<br>
<p>{{ class1 }}: {{ grade1 }}</p>
<br>
<p>{{ class2 }}: {{ grade2 }}</p>
<br>
<p>{{ class3 }}: {{ grade3 }}</p>
<br>
<p>{{ class4 }}: {{ grade4 }}</p>
<br>
<p>{{ class5 }}: {{ grade5 }}</p>
<br>
<p>{{ class6 }}: {{ grade6 }}</p>
<br>
<p>{{ class7 }}: {{ grade7 }}</p>
<br>
<p>{{ class8 }}: {{ grade8 }}</p>
<br>

{% include 'class1.html' %}
<br>
<br>
<br>
{% include 'class2.html' %}
<br>
<br>
<br>
{% include 'class3.html' %}
<br>
<br>
<br>
{% include 'class4.html' %}
<br>
<br>
<br>
{% include 'class5.html' %}
<br>
<br>
<br>
{% include 'class6.html' %}
<br>
<br>
<br>
{% include 'class7.html' %}
<br>
<br>
<br>
{% include 'class8.html' %}

{% endblock %}